stages:
  - build

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

cache:
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  image: gradle:7.4.1-jdk17-alpine
  stage: build
  script:
    - ./gradlew bootJar
  artifacts:
    expire_in: 7 days
    paths:
      - build/libs/*.jar
